p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* Студия */

:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-header-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --four-text-color: #757575;
  --accent-first-color: #2196f3;
  --accent-second-color: #000000;
  --accent-third-color: #ffffff;
  --main-btn-color: #ffffff;
  --header-text-color: #212121;
}

body {
  font-family: 'Roboto', sans-serif;
}
.a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/* --------------HEADER---------------- */

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  /* max-width: 1158px; */
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  text-align: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

/* .link-mail:hover,
.link-mail:focus {
color: #404BBF;
} */
/* .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
} */

.color-contact {
  color: #2E2F42;
}

.color-contact-second {
  color:#434455;
}

.color-contact-second:hover,
.color-contact-second:focus {
  color: #404BBF;
}

.header-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
  margin-right: 332px;
}

/* .header-item {
  margin-left: 50px;
}
.header-item:not(:last-child) {
  margin-right: 0;
} */

.header-item {
  font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:#404BBF;
}

/* .link:hover,
.link:focus {
  color: #404BBF;
} */

.header-connect {
  display: flex;
  gap: 40px;
}

/* .contact-details-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.contact-details-telephone {
  display: flex;
  width: 10px;
  height: 16px;
  margin-right: 10px;
} */

/* .header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 50px;
} */

/* .link-mail .header-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.link-mail .header-item:hover,
.link-mail .header-item:focus {
  color: #404BBF;
} */

.logo-header-studio {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  /* margin-right: 93px; */
  /* color: var(--second-text-color); */
}

.logo {
  font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.logo-link {
  font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

/* .logo .span {
  color: #2E2F42;
} */

.header-navigation .logo-class {
  color: #2E2F42;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  /* margin-right: 93px; */
}
/* ------------------Hero----------------------------  */

.hero {
  background: #2f303a;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-container {
  display: block;
  text-align: center;
}

.hero-list {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color:#FFFFFF;
  width: 496px;
  margin: 0 auto;
  text-align: center;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  border-radius: 4px;
  border: none;
  display: inline-block;
  padding: 16px 32px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
  margin-top: 48px;
}

.button {
  border-style: none;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  border: 1px solid transparent;
  min-width: 134px;
  text-align: center;
}
.header-list .current {
  color: #404BBF;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
  fill: #FFFFFF;
}

/* --------------SECTION --------------------*/

.clients-list {
 display: flex;
  justify-content: center;
  background-position: 50% 50%;
  margin-right: 0;
  margin-left: 0;
}
.our-clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F4FD;
  border-radius: 4px;
  width: calc((100% - 72px) / 4);
  width: 264px;
  height: 112px;
  margin-right: 30px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

/* .our-clients-item:last-child {
  width: 264px;
} */

.our-clients-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #F4F4FD;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.masters-item-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section-list {
  display: flex;
  gap: 24px;
}

.section-title {
  width: 100%;
  height: 100%;
  width: calc((100% - 72px) / 4);
}

.section-title:last-child {
  width: 264px;
}

.section-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
  margin-top: 8px;
}

.section-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}

/* ----------------WORK---------------- */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-container {
  text-align: center;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin: 0 auto;
  margin-bottom: 50px;
}

/*------------------- COMMAND-------------------------- */
.command-section {
  background: #f5f4fa;
  padding-top: 120px;
  padding-bottom: 120px;
}

.command-container {
  text-align: center;
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin: 0 auto;
  margin-bottom: 50px;
}

.command-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.command-item:hover,
.command-item:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.command-item {
  box-sizing: border-box;
  width: calc((100% - 72px) / 4);
  background: #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.studio-link-sens:hover,
.studio-link-sens:focus {
  display: block;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}
.command-pre-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-decoration: none;
  margin-bottom: 8px;
}

.command-pre-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  text-align: center;
  text-decoration: none;
  margin-bottom: 8px;
}

.masters-item-bottom {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 32px;
  padding-bottom: 32px;
  background: #FFFFFF;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px; */
}

.masters-sotial-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.masters-sotial-item {
  align-items: center;
  justify-content: center;
  background: #4D5AE5;
  border-radius: 50%;
  fill: #F4F4FD;
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.masters-sotial-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4D5AE5;
}

.masters-sotial-icon {
  width: 20px;
  height: 20px;
  fill: #F4F4FD;
}

.masters-sotial-link:hover,
.masters-sotial-link:focus {
  background-color: #404BBF;
}


/* ----------Clients--------------- */
.clients-section {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.clients-title {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color:#2E2F42;
  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  gap: 24px;
  list-style: none ;
}

.clients-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

/* .clients-item + .clients-item {
  margin-left: 30px;
} */

/* .clients-image:not(:last-child) {
  margin-right: 30px;
} */

.client-sotial-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  color: #8E8F99;
}

.clients-icon {
  fill: currentColor;
}

.client-sotial-link:hover,
.client-sotial-link:focus {
  border-color: #404BBF;
  color: #404BBF;
}

/* -----------------FOOTER -----------------------*/

.footer {
  background: #2f303a;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-page {
  display: flex;
  align-items: baseline;
}

.logo-list {
  color: #F4F4FD;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-footer-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4D5AE5;
}

.footer-text {
max-width: 264px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
margin-top: 16px;
}

.footer-list {

  font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.styles-item {
  gap: 120px;
  align-items: baseline;
}

.footer-sotial-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.clients-sotial-item {
  background: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #F4F4FD;
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.client-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.client-page-link:hover,
.client-page-link:focus {
  background-color: #31D0AA;
}

.clients-sotial-icon {
  /* width: 24px;
  height: 24px; */
  fill: #F4F4FD;
}


/* --------------------Портфолио ----------------------------*/
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
}
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
.a {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
}

/* ----------HEADER----------------- */
.portfolio-container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header-portfolio {
  display: flex;
  align-items: center;
}

.portfolio-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.link-mail .portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.link-mail:hover,
.link-mail:focus {
  color: #404BBF;
}

.site-nav {
  display: flex;
  /* color: #2E2F42; */
  gap: 40px;
  margin-left: 76px;
  margin-right: 332px;
}

/* .site-nav .portfolio-link {
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-left: 50px;
} */

.contact-class {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: #404BBF;
} */

/* .site-nav .portfolio-link:not(:last-child) {
  margin-right: 0;
} */

.link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #404BBF;
}

.auth-nav {
  display: flex;
  /* margin-left: auto; */
  gap: 40px;
}

 .portfolio-navigation {
  font-style: normal;
  font-family: 'Roboto';
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-class:hover,
.contact-class:focus {
  color: #404BBF;
}

/* .contact-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: 50px;
} */

/* .link:hover,
.link:focus {
  color: #404BBF;
} */

.logo-header-portfolio {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  /* margin-right: 93px; */
}

/* .logo .span {
  color: #000000;
} */

.header-portfolio .logo-link {
  color: #2E2F42;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

/* -----------BUTTON -------------------*/
.section-projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button {
  font-family: inherit;
  min-width: 73px;
  min-height: 38px;
}

.button-list {
  display: flex;
  /* justify-content: center; */
  margin-bottom: 72px;
  gap: 24px;
}

/* .btn-item {
  margin-right: 8px;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
} */
/* .btn-item:hover,
.btn-item:focus {
  color: #FFFFFF;
  background: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */

.button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#4D5AE5;
  background: #F4F4FD;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  border-width: 0px;
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
}

.button:hover,
.button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* .button-list .link:hover,
.button-list .link:focus {
  color: #ffffff;
  background-color: #404BBF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
} */

/* ---------Portfolio---------- */

.header-portfolio-container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
  background: #FFFFFF;
}

/* .img {
  display: block;
} */

/* .portfolio-item :hover,
.portfolio-item :focus {
background: #FFFFFF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

.portfolio-link-sens {
  display: block;
}

.portfolio-link-sens:hover,
.portfolio-link-sens:focus {
/* display: block; */
/* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */
}

/* .link:hover,
.link:focus {
  display: block;
} */

.masters-item-btn {
  background: #FFFFFF;
  border: 1px solid #E7E9FC;
  box-sizing: border-box;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-title {
  color: #2E2F42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 8px;
}

.title-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.button {
  color: #404BBF;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.button:hover,
.button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.btn-item {
  border-style: none;
  display: flex;
}

/* .logo .class {
  color: var(--white-text-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-style .class {
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
} */

.button-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #4D5AE5;
  display: flex;
}

/* .feature-list .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-item {
  color: #4D5AE5;
  background-color: #F4F4FD;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-decoration: none;
  border: 1px solid transparent;
}
.btn-item:nth-child(3n) {
  margin-right: 0;
}

.btn-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* -----------FOOTER------------------ */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-page {
  display: flex;
  align-content: baseline;
}

.logo-list {
  color: #F4F4FD;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.logo-footer-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4D5AE5;
}

.footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
}

.footer-list {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.styles-item {
  margin-left: 120px;
}

.styles {
  align-items: baseline;
  gap: 120px;
}

.footer-sotial-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.clients-sotial-item {
  background: #4D5AE5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: #F4F4FD;
  fill: currentColor;
  width: 40px;
  height: 40px;
}

.client-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.client-page-link:hover,
.client-page-link:focus {
  background-color: #31D0AA;
}

.clients-sotial-icon {
  /* width: 24px;
  height: 24px; */
  fill: #F4F4FD;
}


